{% extends "base.html" %}

{% block main %}
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                {% if user %}
                    <h1>{{ user.name.first }}'s Dashboard <img class="profile-pic" src="{{ user.picture.url }}" /></h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input id="createReceiptDollar" class="form-control" aria-label="Amount (dollar)" type="number" min="0" step="1" value="0">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.</span>
                                    </div>
                                    <input id="createReceiptChange" class="form-control" aria-label="Amount (change)" type="number" min="0" max="99" step="1" value="00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="createReceiptTransaction">Transaction</label>
                                <input id="createReceiptTransaction" aria-describedby="createReceiptTransactionHelp" class="form-control" type="input" placeholder="Burgers from ..." />
                                <small id="createReceiptTransactionHelp" class="form-text text-muted">The transaction.</small>
                            </div>
                            <div class="form-group">
                                <label for="createReceiptDate">Date</label>
                                <input id="createReceiptDate" aria-describedby="createReceiptDateHelp" class="form-control" type="date" value="{{ date.date }}" />
                                <small id="createReceiptDateHelp" class="form-text text-muted">The date of the transaction.</small>
                            </div>
                            <div class="form-group">
                                <label for="createReceiptCategory">Category</label>
                                <input id="createReceiptCategory" aria-describedby="createReceiptCategoryHelp" class="form-control" type="text" placeholder="Outings/Takeout" />
                                <small id="createReceiptCategoryHelp" class="form-text text-muted">The category of the transaction.</small>
                            </div>
                            <button class="btn btn-primary" onclick="addReceipt()">Add</button>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6">
                            {% for receipt in receipts %}
                                <div class="card border-light">
                                    <div class="card-header">{{ receipt.date }} [{{ receipt.category }}] <button onclick='deleteReceipt("{{ receipt.id }}")'>delete</a></div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{ receipt.transaction }}</h4>
                                        <p class="card-text">{{ receipt.amount }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card border-info">
                                    <div class="card-header">No Receipts Found</div>
                                    <div class="card-body">
                                            <h4 class="card-title">Add a receipt above to get started.</h4>
                                            <p class="card-text"></p>
                                        </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}     
                    <h1>receipt</h1>
                    <h3>Easily keep track of your purchases and keep track of your spending habits</h3>

                    <a class="facebook login btn logged-out" href="/login"><i class="fa fa-facebook-official facebook" aria-hidden="true"></i> Login with Facebook</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var addReceipt = function () {
            var dateFields = $("#createReceiptDate").val().split("-").map(str => Number(str));

            var data = {
                amount: Number(`${$("#createReceiptDollar").val()}.${$("#createReceiptChange").val()}`),
                transaction: $("#createReceiptTransaction").val(),
                date: new Date(dateFields[0], dateFields[1] - 1, dateFields[2]),
                category: $("#createReceiptCategory").val()
            };
            $.post("http://localhost:8080/api/v1/receipts", data, function (data, textStatus, jqXHR) {
                switch (jqXHR.status) {
                    case 201:
                        window.location = "/";
                        break;

                    default:
                        console.error(`${textStatus}: ${data}`);
                }
            });
        };

        var deleteReceipt = function (id) {
            $.ajax({
                method: "DELETE",
                url: `http://localhost:8080/api/v1/receipts/${id}`,
                success: function (data, textStatus, jqXHR) {
                    switch (jqXHR.status) {
                        case 204:
                            window.location = "/";
                            break;

                        default:
                            console.error(`${textStatus}: ${data}`);
                    }
                }
            })
        };
    </script>
{% endblock %}